<!DOCTYPE html>
{%extends 'index.html' %}
{%load static%}

{%block body_block%}

<section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white"></h2>
                <h2 class="page-section-heading text-center text-uppercase text-white"></h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><b>About Us</b></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">

                    <div class="col><p class="lead"><h6>CareerJobs connects jobseekers and recruiters by accurately matching
                        candidate profiles to the relevant job openings through an advanced 2-way matching technology.
                        While most job portals only focus on getting candidates the next job, we focuses on the
                        entire career growth of candidates.Create an Account (it's free)
It only takes a couple of minutes to get started</h6></p>
                    <p><h6><a href="{%url 'signin' %}" style="color:white; ">Register or Login</a></h6></p>
                    <p><h6>After you register, you can:
                    <li> Apply to jobs from the site while keeping your resume hidden from all recruiters.</li>
                    <li>Mark yourself as a 'passive jobseeker' if you are not actively looking for a job.</li>
                    <li>Block your company or other specific companies from viewing your profile.</li></h6></p>

                </div>
                </div>
                <!-- About Section Button-->

                </div>
            </div>

 <div class="row">
     <h2 class="page-section-heading text-center text-uppercase text-white"></h2>
 </div>

            <div class="col-4"></div>
            <div class="col-4">




               </form>
            </div>
            <div class="col-4"></div>





</section>






 {% endblock %}








